@use "element-plus/theme-chalk/src/dark/css-vars.scss" as *;
@use "card.scss";

$link-color: #4c90f3;

:root {
    --el-bg-color-page: var(--el-color-primary);
    //--el-bg-color-page: #4c90f3 !important;
//    --brand-color: $brand-color;
//    --brand-secondary-color: var(--el-color-primary);
}

.text-color-by-theme {

}

html, body, #app {
    height: 100%;
    //--el-bg-color-page: #4c90f3 !important;
}

//div {
//    @apply text-center;
//}

body {
    --el-bg-color-page: var(--el-color-primary);
    //--el-bg-color-page: #4c90f3 !important;
    //--el-color-primary: #000;
    font-family: Inter, system-ui, Avenir, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    //font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    //min-width: 640px;
    background: var(--el-bg-color-page) !important;
}

a {
    color: $link-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

html.dark {
    //--brand-color: hsl(from var(--color-primary) h s l);
    a {
        //--brand-color: #000;
        color: lighten($link-color, 0%);
        //color: var(--brand-color);
    }
}

//:link { color: #0000EE; }
//:visited { color: #551A8B; }
//:link:active, :visited:active { color: #FF0000; }
//:link, :visited { text-decoration: underline; cursor: pointer; }

// Loader

#nprogress {
    .bar {
        background: var(--el-color-primary-light-5) !important;
        height: 4px !important;

        .peg {
            display: none !important;
        }
    }
}

.el-alert .el-alert__description {
    margin: 0 !important;
}

.el-form-item__content {
    display: block !important;
}

.status-tag, .priority-tag {
    color: var(--el-text-color) !important;
    background: var(--el-color-primary-light-9) !important;
    border-bottom: 2px solid #000;
    font-weight: 600;
    cursor: pointer;
    margin: auto;
    font-size: 12px;
    //height: 20px;
    line-height: 20px;

    &.status-tag {
        width: 95%;
    }

    &.priority-tag {
        width: 70%;
    }

    &:hover {
        color: #000 !important;
    }
}

.dark {
    .status-tag, .priority-tag {
        background: #222 !important;

        &:hover {
            color: #fff !important;
        }
    }
}

.el-page-header__header {
    line-height: 32px !important;
    height: 32px !important;
}

// card

.el-card__body {
    //padding: 15px !important;
}

// tabs

.el-tabs__item {
    &.is-active, &:hover {
        color: var(--el-color-info-dark-2) !important;
    }
}
.el-tabs__active-bar {
    background: var(--el-color-info-dark-2) !important;
}

.hover-rotate {
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    transition: 0.3s ease-out;

    &:hover {
        -webkit-transform: rotateZ(120deg);
        -moz-transform: rotateZ(120deg);
        transform: rotateZ(120deg);
    }
}

/* we will explain what these classes do next! */
.v-enter-active,
.v-leave-active {
    transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
}

/*
  Enter and leave animations can use different
  durations and timing functions.
*/
.slide-fade-enter-active {
    transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
    transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translateX(20px);
    opacity: 0;
}

@import "helpers";
@import "prosemirror";
