@use 'sass:math';
@use 'sass:map';

//@forward "element-plus/theme-chalk/src/common/var.scss";

@use "element-plus/theme-chalk/src/common/var" as light;
@use "element-plus/theme-chalk/src/dark/var" as dark;

:root {
    //--el-card-border-color: #fff !important;
}

html {
    .el-card {
        $color: map.get(light.$bg-color, 'overlay');
        border-color: darken($color, 3%);

        .el-card__header {
            $color: map.get(light.$bg-color, 'overlay');
            background: darken($color, 3%);
            border: 0;
        }
    }
}


html.dark {
    .el-card {
        $color: map.get(dark.$bg-color, 'overlay');
        border-color: lighten($color, 3%) !important;
        border: 0;

        .el-card__header {
            background: lighten($color, 3%);
        }
    }
}
