@use 'sass:math';
@use 'sass:map';

$--colors: (
    "primary": (
        "base": #4c90f3,
    ),
    "success": (
        "base": #198754,
    ),
    "warning": (
        "base": #ffc107,
    ),
    "danger": (
        "base": #dc3545,
    ),
    "error": (
        "base": #dc3545,
    ),
    "info": (
        "base": #0dcaf0,
    ),
);

$--header: (
    'height': 58px
);

$--menu: (
    'active-color': lighten(map.get($--colors, 'success', 'base'), 10%), //getCssVar('color-primary'),
    'text-color': getCssVar('text-color-primary'),
    'hover-text-color': getCssVar('color-primary'),
    'bg-color': 'transparent',
    'hover-bg-color': 'transparent',
    'item-height': 58px,
    //'sub-item-height': calc(#{getCssVar('menu-item-height')} - 6px),
    //'horizontal-sub-item-height': 36px,
    //'item-font-size': getCssVar('font-size-base'),
    //'item-hover-fill': getCssVar('color-primary-light-9'),
    'border-color': 'transparent',
    'base-level-padding': 0px,
    //'level-padding': 20px,
    //'icon-width': 24px,
);

//$--card: (
//    'border-color': '#000000',//getCssVar('border-color', 'light'), //getCssVar('color-primary'),
//    'padding': 15px,
//);

$--dropdown: ();

// we can add this to custom namespace, default is 'el'
@forward "element-plus/theme-chalk/src/mixins/config.scss" with (
  $namespace: "el",
);

// You should use them in scss, because we calculate it by sass.
// comment next lines to use default color
@forward "element-plus/theme-chalk/src/common/var.scss" with (
  // do not use same name, it will override.
    $colors: $--colors,
    $menu: $--menu,
    $header: $--header,
    //$card: $--card,
  //$nav-bar-height: 50px,
  //$button-padding-horizontal: ("default": 50px)
);

// if you want to import all
//@use "element-plus/theme-chalk/src/index.scss" as *;

// You can comment it to hide debug info.
//@debug $--colors;

// custom dark variables
@use "./dark.scss";
